[submodule "CMake"]
	path = CMake
	url = https://github.com/CFXS/CFXS-CMake-Bare-Metal-Toolchain.git
[submodule "CortexNetworkTestApp/vendor/tm4c-driverlib"]
	path = CortexNetworkTestApp/vendor/tm4c-driverlib
	url = https://github.com/CFXS/TM4C-driverlib.git
[submodule "CortexNetworkTestApp/vendor/lwip"]
	path = CortexNetworkTestApp/vendor/lwip
	url = https://github.com/CFXS/lwip.git
[submodule "CortexNetworkTestApp/vendor/CFXS-Base"]
	path = CortexNetworkTestApp/vendor/CFXS-Base
	url = https://github.com/CFXS/CFXS-Base.git
[submodule "CortexNetworkTestApp/vendor/SeggerRTT"]
	path = CortexNetworkTestApp/vendor/SeggerRTT
	url = https://github.com/CFXS/SeggerRTT-printf.git
